<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>vue js tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
    <div id="app">
        <div class="container my-5">
            <div class="conver-container">
                    <div class="row">
                            <div class="text-center">
                                <h2>currency converter</h2>
                            </div>
                            <div class="col-sm-12 mb-10">
                                <label for="">from</label>
                                <select v-model="from" name="" id="" class="form-control">
                                    <option :value="currency.id" class="" v-for="currency in formattedCurrencies">{{currency.currencyName}}</option>
                                </select>
                            </div>
                            <div class="col-sm-12 mb-10">
                                <label for="">to</label>
                                <select v-model="to" name="" id="" class="form-control">
                                    <option :value="currency.id" class="" v-for="currency in formattedCurrencies">{{currency.currencyName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 mb-10 my-1">
                                <input v-model="amount" type="text" class="form-control" placeholder="amount">
                                <div class="text-center my-1">
                                    <button :disabled="disabled" @click="convertCurrencies()" class="btn btn-primary">{{loading ? 'converting...' : 'convert'}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 mb-10 text-center">
                                <h3 class="resutlContnet">{{calculateResult}}</h3>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="main.js"></script>
</body>
</html>